.container{
    border: 0px solid black;
}

.row{
    border: 0px solid red;
}

.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    border: 0px solid green;
}

body{
    background-color:bisque ;
}

#header{
    background-color: orange;
}

#menu-bar{
    background-color: pink;  
}

#menu-bar ul{
    display: flex;
    list-style: none;
    margin-bottom: 0rem;
}

#menu-bar ul li{
    padding-left: 2rem;
}

#content{
    background-color: aliceblue;
}

#left-sidebar, #right-sidebar{
    background-color: skyblue;
}

#footer{
    background-color: orange;
}